body {
     font-family: Century;
    margin: 0;
    padding: 0;
}

/* Header / Navbar */
header {
    background-color: #325c61cc;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}

/**button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}**/

/* Horizontal Sections */
.content-row {
    display: flex;
}

.content {
    width: 50%;
    padding: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
